//@font-face
//    font-family: 'DelaGothicOne'
//    src: local('DelaGothicOne'), url('/static/fonts/DelaGothicOne-Regular.ttf') format('truetype')

$main-color: #212121

$background-color: #FFF
$card-background-color: #1b1c1d
$font-stack: sans-serif

$panel-color: #000542
$second-color: #0064DC

*:not(.icon)
    outline: none
    font-family: $font-stack !important

#root
    max-width: 98% !important

body
    color: $main-color
    font-size: 12px
    line-height: 1.5
    background-color: $background-color
    margin: 0
    height: 100%

h1
    margin-top: 6% !important
    font-size: 6em
    color: $panel-color

p
    white-space: pre-line

.container
    max-width: 1000px !important

.second-color
    color: $second-color

.header
    margin-top: 2em !important
    margin-bottom: 4em !important
    color: $panel-color !important
    display: flex !important
    justify-content: space-between
    font-weight: 100 !important
    font-size: .9em !important

    b
        font-size: 1.5em !important
        font-weight: 900

.navigation
    a
        display: inline-block
        margin-right: 10px
        padding: 1vh 0
        color: $main-color

.active
    font-weight: 900

.footer
    margin: 5vh 0
    color: $panel-color
    font-size: 11px

.field-group
    margin-bottom: 16px

.custom-label
    display: block
    margin: 0 0 .28571429rem 0
    color: rgba(0,0,0,.87)
    font-size: .92857143em
    font-weight: 700
    text-transform: none

.ui.selection.dropdown
    background-color: #EEF5FB !important
    color: $main-color !important
    text-align: center !important
    padding: .6em 1em !important
    min-height: .6em !important

.ui.form .field>.selection.dropdown>.dropdown.icon
    line-height: .7em !important

.panel
    background-color: #EEF5FB //#e7e7ff
    border-radius: 4px
    box-sizing: border-box
    font-size: 16px
    line-height: 24px
    box-shadow: 0 1px 2px 0 #00000038
    padding: 32px
    color: $panel-color

    h3
        color: $panel-color

    .slider
        margin-bottom: 1em

    .slider-label, .nalog
        display: flex
        justify-content: space-between

        .value
            color: $second-color
            font-weight: 900

    label
        color: $panel-color !important
        font-weight: 100 !important

    .nalog
        padding: .8em 0
        border-top: 1px solid #c1d1ea
        border-bottom: 1px solid #c1d1ea
        margin: 1em 0

        .value
            color: #0C2248

.telegram-link, .github-link
    margin-top: 15em
    font-size: 1em

.github-link
    margin-top: 1em

.form-select-control-word, .form-select-control-region
    font-size: .8em !important

.center
    text-align: center

.customer
    font-size: .8em
    color: #1111b5

    a
        text-decoration: underline

.frame
    width: 100%
    margin-top: 4em

.ui.text.loader
    line-height: 1.5em

.semantic_ui_range_inner
    margin: 0 !important

.semantic_ui_range_inner > div:nth-child(3), .semantic_ui_range_inner > div:nth-child(2)
    background-color: $second-color !important